*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "STKaiTi";
  src: url("https://github.com/LunaticSatyr/YinYangShi-Onmyoji/blob/main/font/stkaiti.ttf?raw=true");
}
:root {
  --main-color-theme: #D4AF37;
  --main-font-family: "STKaiTi", "KaiTi", "Microsoft YaHei", "Helvetica";
  --icon-URL: url("https://raw.githubusercontent.com/LunaticSatyr/YinYangShi-Onmyoji/main/images/template.png");
}
body > img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transition: opacity 3s linear,
              width 1s linear,
              height 1s linear;
  z-index: -100;
}
section#main-grid {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  --grid-padding: 4em;
  --grid-gap: 6em;
  gap: var(--grid-gap);
  padding: var(--grid-padding);
  --grid-cell-width: 200px;
  --grid-cell-height: 300px;
  --grid-cell-border-radius: 1em;
  grid-template-columns: repeat(auto-fill, var(--grid-cell-width));
  overflow-y: auto;
}
div.grid-cell {
  box-sizing: content-box;
  width: var(--grid-cell-width);
  height: var(--grid-cell-height);
  border: 3px solid var(--main-color-theme);
  border-radius: var(--grid-cell-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  transition: background-color 1s linear,
              border 1s ease-out;
}
div.grid-cell.no-border { /* used when 式神情报 is added */
  border: 3px solid transparent;
  background-color: transparent;
}
div.grid-cell > img.background {
  width: var(--grid-cell-width);
  height: var(--grid-cell-height);
  border-radius: var(--grid-cell-border-radius);
  opacity: 0;
  object-fit: cover;
  transition: opacity 1s linear;
  position: absolute;
  z-index: -1;
}
div.grid-cell > i.fa-circle-xmark {
  position: absolute;
  color: var(--main-color-theme);
  transform: rotate(45deg);
  opacity: 0.5;
  font-size: 6em;
  z-index: 1;
  transition: all 0.25s;
}
div.grid-cell > i.fa-circle-xmark:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 8em;
}
div.式神query {
  /* initial values */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* the following 3 properties will be animated */
  bottom: var(--div-query-bottom);
  opacity: var(--div-query-opacity);
  visibility: var(--div-query-visibility);
  /* transition will be applied to the 3 properties above */
  transition: all 1s ease-out;

  /* variables for self */
  --div-query-bottom: 100%;
  --div-query-opacity: 0;
  --div-query-visibility: hidden;

  /* variables for label */
  --label-opacity: 1;
  --label-visibility: visible;
  --label-transition-delay: 0.5s;

  /* variables for search-bar-wrapper */
  --search-bar-wrapper-width: 70%;
  --search-bar-wrapper-top-dist: 0;
  --search-bar-wrapper-transition-delay: 0.5s;

  /* variables for dropdown 式神名单 */
  --dropdown-height: 0px;
  --dropdown-transition-delay: 0s;
}
div.式神query.completed {
  --div-query-bottom: 50%;
  --div-query-opacity: 0;
  --div-query-visibility: hidden;
  
  --label-opacity: 0;
  --label-visibility: hidden; 

  --search-bar-wrapper-top-dist: -9.59em;
  transition: all 0.5s ease-out 0.5s;
}
div.式神query:first-child:not(.completed) {
  --div-query-bottom: 0;
  --div-query-opacity: 1;
  --div-query-visibility: visible;
}
div.式神query:focus-within {
  /* variables for label */
  --label-opacity: 0;
  --label-visibility: hidden;
  --label-transition-delay: 0s;

  /* variables for dropdown 式神名单 */
  --dropdown-height: 277px;   /* content-box 300 - 23 = 277 */
  --dropdown-transition-delay: 0.5s;
}
div.式神query > label[for="search-bar"] {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: -2px;
  margin-bottom: 0.5em;
  opacity: var(--label-opacity);
  visibility: var(--label-visibility);
  transition: all 0.5s ease-out var(--label-transition-delay);
}
div.式神query > div.search-bar-wrapper {
  /* initial values */
  width: var(--search-bar-wrapper-width);
  height: 1.5em;
  display: flex;
  align-items: center;
  position: relative;
  top: var(--search-bar-wrapper-top-dist);
  /* apparently if I use "all", the opacity and visibility will be affected */
  transition: width 0.5s ease-out var(--search-bar-wrapper-transition-delay),
              top 0.5s ease-out var(--search-bar-wrapper-transition-delay);

  /* variables for search icon */
  --search-icon-left-dist: 0.4em;
  --search-icon-top-dist: 4px;
  --search-icon-animation: none;
  --search-icon-transition-delay: 0s;

  /* variables for go icon */
  --go-icon-animation: 1s linear 0.5s 3 normal fading-rightwards;
}
div.式神query > div.search-bar-wrapper:hover {
  --search-icon-animation: 1s linear 0s infinite normal pulsate;
  /* --go-icon-animation: 1s linear 0s infinite normal fading-rightwards; */
}
div.式神query > div.search-bar-wrapper:focus-within {
  /* variables for self */
  --search-bar-wrapper-width: 100%;
  --search-bar-wrapper-top-dist: -9.7em;
  --search-bar-wrapper-transition-delay: 0s;

  /* variables for search icon */
  --search-icon-animation: 1s linear 0s infinite normal pulsate;
  --search-icon-left-dist: 187px;
  --search-icon-top-dist: 291px;
  --search-icon-transition-delay: 0.5s;

  /* variables for go icon
  --go-icon-animation: 1s linear 0s 3 normal fading-rightwards; */
}
div.式神query > div.search-bar-wrapper > i.fa-magnifying-glass {
  position: absolute;
  left: var(--search-icon-left-dist);
  top: var(--search-icon-top-dist);
  cursor: default;
  z-index: 1;
  transition: left 0.5s ease-out var(--search-icon-transition-delay),
              top 0.5s ease-out var(--search-icon-transition-delay);
  animation: var(--search-icon-animation);
}
@keyframes pulsate {
  0%    {opacity: 0;}
  50%   {opacity: 1;}
  100%  {opacity: 0;}
}
div.式神query > div.search-bar-wrapper > i.fa-arrow-right-long {
  position: absolute;
  right: 0.4em;
  cursor: pointer;
  z-index: 1;
  animation: var(--go-icon-animation);
}
div.式神query > div.search-bar-wrapper > i.fa-arrow-right-long:hover {
  --go-icon-animation: 1s linear 0s infinite normal fading-rightwards;
}
@keyframes fading-rightwards {
  from {
    /* transform: translateX(0);
    opacity: 1; */  /* using transform translate is bad because the clickable area changes with it */
    color: transparent;
    text-shadow: 0 0 0 black;
  }
  to {
    /* transform: translateX(1.2em);
    opacity: 0; */
    color: transparent;
    text-shadow: 1.2em 0 0 transparent;
  }
}
div.式神query > div.search-bar-wrapper > input.search-bar {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: 2px solid #444;
  border-radius: 2em;
  font-family: var(--main-font-family);
  font-size: 1rem;
  letter-spacing: -2px;
  text-align: center;
  padding: 0.5em 1.4em 0.5em 1.4em;
  transition: all 0.5s ease-out;
}
div.式神query > datalist.式神名单 {
  display: block;
  position: absolute;
  top: 23px;
  left: 0;
  width: var(--grid-cell-width);
  height: var(--dropdown-height);
  border-radius: 0 0 0 13px; /* need this to prevent last option from overflowing */
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("https://raw.githubusercontent.com/LunaticSatyr/YinYangShi-Onmyoji/main/images/yys.webp");
  background-repeat: no-repeat;
  /* --dropdown-height affects this!  */
  background-size: 40% 269px;
  background-position: 85% 2px;
  background-attachment: scroll;
  transition: height 0.5s ease-out var(--dropdown-transition-delay);
}
div.式神query > datalist.式神名单::-webkit-scrollbar {
  width: 13px;
  border-radius: var(--grid-cell-border-radius);
}
div.式神query > datalist.式神名单::-webkit-scrollbar-track {
  border-radius: var(--grid-cell-border-radius);
  box-shadow: 0 0 0.33em 0 rgba(0, 0, 0, 0.5) inset;
}
div.式神query > datalist.式神名单::-webkit-scrollbar-thumb {
  border-radius: var(--grid-cell-border-radius);
  box-shadow: 0 0 0.33em 0 rgba(0, 0, 0, 0.75) inset;
}
div.式神query > datalist.式神名单 > option {
  width: 100%;
  font-family: var(--main-font-family);
  font-size: 1.25em;
  font-weight: 600;
  color: black;
  padding: 0.5em 0.5em 0.5em 2.8em;
  cursor: pointer;
  background-image: var(--URL);
  background-size: 2em 2em;
  background-position: 8px 2px;
  background-repeat: no-repeat;
}
div.式神query > datalist.式神名单 > option.target {
  text-shadow: 0 0 40px black;
  --stop: 50%;
  background-image: var(--URL), linear-gradient(white, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 75%, white), radial-gradient(circle, white, rgba(0,0,0,0.25) var(--stop));
  background-size: 2em 2em, 100%, 100%;
  background-position: 8px 2px, 0 0, 0 0;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  animation: glow 2s linear 0s infinite;
  z-index: 100;
}
@keyframes glow {
  0% 	  {--stop: 50%;}
  5%    {--stop: 55%;}
  10%	  {--stop: 60%;}
  15%   {--stop: 65%;}
  20%	  {--stop: 70%;}
  25%   {--stop: 75%;}
  30%	  {--stop: 80%;}
  35%   {--stop: 85%;}
  40%	  {--stop: 90%;}
  45%   {--stop: 95%;}
  50%	  {--stop: 100%;}
  55%   {--stop: 95%;}
  60%	  {--stop: 90%;}
  65%   {--stop: 85%;}
  70%	  {--stop: 80%;}
  75%   {--stop: 75%;}
  80%	  {--stop: 70%;}
  85%   {--stop: 65%;}
  90%	  {--stop: 60%;}
  95%   {--stop: 55%;}
  100% 	{--stop: 50%;}
}
/* 
this doesn't look good enough
div.式神query > datalist.式神名单 > option::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 180px;
  height: 43px;
  border-top: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(white, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, white);
  z-index: -1;
} */
div.式神情报-wrapper {
  /* initial values */
  width: 100%;
  height: 100%;
  position: relative;
  /* the following 3 properties will be animated */
  bottom: var(--div-式神情报-wrapper-bottom);
  opacity: var(--div-式神情报-wrapper-opacity);
  visibility: var(--div-式神情报-wrapper-visibility);
  /* transition will be applied to the 3 properties above */
  transition: all 0.75s ease-out var(--div-式神情报-wrapper-transition-delay);

  /* variables for self */
  --div-式神情报-wrapper-bottom: 100%;
  --div-式神情报-wrapper-opacity: 0;
  --div-式神情报-wrapper-visibility: hidden;
  --div-式神情报-wrapper-transition-delay: 0s;

  /* variables for children */
  --div-lantern-wrapper-right: -5px;
  --div-lantern-wrapper-right-transition-delay: 0.75s;
  --div-lantern-wrapper-height: 10px;
  --div-lantern-wrapper-height-transition-delay: 1.25s;
  --div-lantern-wrapper-z-index: -1;
  --div-lantern-wrapper-z-index-transition-delay: 1.25s;
}
div.式神情报-wrapper:not(.completed):first-child {
  /* drop down when it's the first child */
  --div-式神情报-wrapper-bottom: 0;
  --div-式神情报-wrapper-opacity: 1;
  --div-式神情报-wrapper-visibility: visible;
  
  /* variables for children */
  --div-lantern-wrapper-right: -75px;
  --div-lantern-wrapper-height: 270px;
  --div-lantern-wrapper-z-index: 0;
}
div.式神情报-wrapper.completed:first-child {
  /* variables for self */
  --div-式神情报-wrapper-bottom: 100%;
  --div-式神情报-wrapper-opacity: 0;
  --div-式神情报-wrapper-visibility: hidden;
  --div-式神情报-wrapper-transition-delay: 1s;

  /* variables for children */
  --div-lantern-wrapper-right: -5px;
  --div-lantern-wrapper-right-transition-delay: 0.5s;
  --div-lantern-wrapper-height: 10px;
  --div-lantern-wrapper-height-transition-delay: 0s;
  --div-lantern-wrapper-z-index: -1;
  --div-lantern-wrapper-z-index-transition-delay: 0.5s;
}
/* div.banner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 48px;
  transform: translateX(-100%);
  height: 10px;
  background: var(--icon-URL) -1081px -461px no-repeat;
  overflow: hidden;
  transition: height 1s ease-out;
}
div.banner > span {
  width: 100%;
  height: 290px;
  font-family: var(--main-font-family);
  font-size: 2em;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  writing-mode: vertical-lr;
}
div.banner:hover {
  height: 290px;
} */
div.banner {
  display: none;
}
div.式神情报 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1;
}
/* div.式神情报 + img.background {
  background-color: white;
  position: absolute;
  width: 200px;
  height: 300px;
  top: 83px;
  left: 105px;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}*/
div.式神情报 > div.stat-wrapper {
  width: 100%;
  height: 12.5%;
  --row-padding: 0.25em;
  padding: 0 var(--row-padding) 0 var(--row-padding);
  background-color: var(--row-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  --color-opacity: 0.75;
}
div.式神情报 > div.stat-wrapper:nth-child(odd) {
  --row-color: rgb(227, 217, 207, var(--color-opacity));
}
div.式神情报 > div.stat-wrapper:nth-child(even) {
  --row-color: rgba(214, 202, 190, var(--color-opacity));
}
div.式神情报 > div.stat-wrapper:hover {
  --color-opacity: 0.9;
  box-shadow: inset 0 0 5px 0px black;
}
div.式神情报 > div.stat-wrapper > div.left {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.式神情报 > div.stat-wrapper > div.left > div.hexagonal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  --hex-con-width: 34px;
  --hex-con-height: 30px;
  width: var(--hex-con-width);
  height: var(--hex-con-height);

  /* variables for direct child */
  --hexagon: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  --outer-border-color: rgb(99, 79, 64);
  --inner-border-color: rgb(169, 137, 98);
  --inset: 4px;
  --full-rotation-duration: 3s;
}
/* clip-path doesn't interact well with z-index!!!
Pseudo-elements will be forced to be on top of the element if clip-path is applied.
In this case I'm using the container as the outer border (bottom layer),
the ::after element as the inner border (middle layer),
and the ::before element as the content container (top layer).
*/
div.式神情报 > div.stat-wrapper div.hexagonal-container {
  width: var(--hex-con-width);
  height: var(--hex-con-height);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: var(--hexagon);
  background-color: var(--outer-border-color);
  position: absolute;
  z-index: 0;
}
div.式神情报 > div.stat-wrapper div.hexagonal-container::after {
  content: "";
  width: calc(var(--hex-con-width) - var(--inset));
  height: calc(var(--hex-con-height) - var(--inset));
  clip-path: var(--hexagon);
  background-color: var(--inner-border-color);
  position: absolute;
}
div.式神情报 > div.stat-wrapper div.hexagonal-container::before { 
  content: "";
  width: calc(var(--hex-con-width) - 2 * var(--inset));
  height: calc(var(--hex-con-height) - 2 * var(--inset));
  clip-path: var(--hexagon);
  background-color: var(--row-color);
  position: absolute;
  z-index: 1;
}
div.式神情报 > div.stat-wrapper:hover div.hexagonal-container {
  animation: var(--full-rotation-duration) linear 0s infinite normal rotate-clockwise;
}
div.式神情报 > div.stat-wrapper:hover div.hexagonal-container::after {
  animation: calc(var(--full-rotation-duration) / 2) linear 0s infinite normal rotate-anticlockwise;
}
div.式神情报 > div.stat-wrapper:hover div.hexagonal-container::before {
  animation: var(--full-rotation-duration) linear 0s infinite normal rotate-anticlockwise;
}
@keyframes rotate-clockwise {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
@keyframes rotate-anticlockwise {
  from { transform: rotate(0); }
  to { transform: rotate(-360deg); }
}
div.式神情报 > div.stat-wrapper i.icon {
  /* position: absolute; */
  z-index: 0;
}
div.式神情报 > div.攻击 i.icon {
  width: 17px;
  height: 16px;
  background: var(--icon-URL) -770px -427px no-repeat;
}
div.式神情报 > div.生命 i.icon {
  width: 20px;
  height: 20px;
  background: var(--icon-URL) -685px -427px no-repeat;
}
div.式神情报 > div.防御 i.icon {
  width: 21px;
  height: 22px;
  background: var(--icon-URL) -664px -427px no-repeat;
}
div.式神情报 > div.速度 i.icon {
  width: 18px;
  height: 17px;
  background: var(--icon-URL) -737px -427px no-repeat;
}
div.式神情报 > div.暴击 i.icon,
div.式神情报 > div.暴击伤害 i.icon {
  width: 16px;
  height: 18px;
  background: var(--icon-URL) -705px -427px no-repeat;
}
div.式神情报 > div.效果命中 i.icon {
  width: 15px;
  height: 16px;
  background: var(--icon-URL) -755px -427px no-repeat;
}
div.式神情报 > div.效果抵抗 i.icon {
  width: 16px;
  height: 18px;
  background: var(--icon-URL) -721px -427px no-repeat;
}
div.式神情报 > div.stat-wrapper > div.left > div.score-container {
  width: 24px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.式神情报 i.score.fa-circle-question {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.25em;
  animation: 2s linear 0s infinite normal fading,
             2s linear 0s infinite normal oscillate;
  --angle: 30deg;
  --faint: 0.2;
}
@keyframes fading {
  0%   { opacity: 1; }
  50%  { opacity: var(--faint); }
  100% { opacity: 1; }
}
@keyframes oscillate {
  0%   { transform: rotate(0); }
  25%  { transform: rotate(calc(-1 * var(--angle))); }
  50%  { transform: rotate(0); }
  75%  { transform: rotate(var(--angle)); }
  100% { transform: rotate(0); }
}
div.式神情报 i.score.SS {
  width: 24px;
  height: 25px;
  background: var(--icon-URL) -421px -430px no-repeat;
}
div.式神情报 i.score.S {
  width: 17px;
  height: 24px;
  background: var(--icon-URL) -608px -427px no-repeat;
}
div.式神情报 i.score.A {
  width: 19px;
  height: 26px;
  background: var(--icon-URL) -515px -428px no-repeat;
}
div.式神情报 i.score.B {
  width: 19px;
  height: 24px;
  background: var(--icon-URL) -645px -427px no-repeat;
}
div.式神情报 i.score.C {
  width: 21px;
  height: 24px;
  background: var(--icon-URL) -625px -427px no-repeat;
}
div.式神情报 i.score.D {
  width: 19px;
  height: 24px;
  background: var(--icon-URL) -589px -427px no-repeat;
}
div.式神情报 > div.stat-wrapper > div.left > span.stat-name {
  font-family: var(--main-font-family);
  font-weight: 600;
  letter-spacing: -1px;
}
div.式神情报 > div.stat-wrapper:hover > div.left > span.stat-name {
  --faint: 0.5;
  animation: 1s linear 0s infinite normal fading;
}
div.式神情报 > div.main.stat-wrapper > div.left > span.stat-name {
  font-size: 1em;
}
div.式神情报 > div.sub.stat-wrapper > div.left > span.stat-name {
  font-size: 0.9em;
}
div.式神情报:not(.fetched) > div.stat-wrapper > div.right > span.initialValue {
  font-family: var(--main-font-family);
  font-size: 0.8em;
  --faint: 0.2;
  animation: 2s linear 0s infinite normal fading;
}
div.式神情报:not(.fetched) > div.stat-wrapper > div.right > span.initialValue::after {
  content: "";
  animation: 2s linear 0s infinite normal loading;
}
@keyframes loading {
  0%    { content: ""; }
  25%   { content: "."; }
  50%   { content: ".."; }
  75%   { content: "..."; }
  100%  { content: ""; }
}
div.式神情报:not(.fetched) > div.stat-wrapper > div.right > span.additionalValue {
  display: none;
}
div.式神情报.fetched > div.stat-wrapper > div.right {
  font-family: "Times New Roman";
  font-weight: 600;
}
div.式神情报.fetched > div:is(.暴击, .暴击伤害, .效果命中, .效果抵抗) > div.right > span:not(:empty)::after {
  content: "%";
  position: relative;
  left: 1px;
  /* margin-right: 1px; */
}
div.式神情报.fetched > div.stat-wrapper > div.right > span.additionalValue {
  color: rgb(166, 41, 15);
}
div.式神情报.fetched > div.stat-wrapper > div.right > span.initialValue:not(:empty) + span.additionalValue::before {
  content: "+";
  position: relative;
  margin-right: 1px;
  left: -1px;
}
div.式神情报-wrapper > div.dark-brown-border {
  width: 210px;
  height: 338px;
  --lighter-border-color: rgb(104, 55, 6);
  --darker-border-color: rgb(52, 43, 40);
  background-image: linear-gradient(135deg, var(--lighter-border-color), var(--darker-border-color) 50%);
  box-shadow: 0.2em 0.2em 0.2em 0 rgba(0, 0, 0, 0.6),
              0.4em 0.4em 0.4em 0 rgba(0, 0, 0, 0.4),
              0.6em 0.6em 0.6em 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -33px;
  left: -5px;
  z-index: 0;
}
div.式神情报-wrapper > div.dark-brown-border::before {
  content: "式神情报";
  font-family: var(--main-font-family);
  font-size: 1.5em;
  letter-spacing: -1px;
  display: inline-block;
  width: 210px;
  text-align: center;
  color: white;
  position: relative;
  top: 3px;
}
div.式神情报-wrapper > div.dark-brown-border > i.fa-xmark {
  width: 8px;
  height: 8px;
  position: absolute;
  color: white;
  top: 5px;
  right: 10px;
  z-index: 10000;
}
div.式神情报-wrapper > div.dark-brown-border > i.fa-xmark:hover {
  cursor: pointer;
  color: red;
}
div.式神情报-wrapper > div.lantern-wrapper {
  width: 70px;
  height: var(--div-lantern-wrapper-height);
  position: absolute;
  top: -20px;
  right: var(--div-lantern-wrapper-right);
  z-index: var(--div-lantern-wrapper-z-index);
  overflow: hidden;
  transition: height 0.5s ease-out var(--div-lantern-wrapper-height-transition-delay),
              right 0.5s ease-out var(--div-lantern-wrapper-right-transition-delay),
              z-index 0s linear var(--div-lantern-wrapper-z-index-transition-delay);
}
div.式神情报-wrapper > div.lantern-wrapper > div.wood {
  width: 70px;
  height: 10px;
  clip-path: polygon(66% 10%, 100% 0, 80% 100%, 0 90%, 0 10%);
  background-image: linear-gradient(90deg, var(--dark), var(--light));
  --dark: rgb(52, 43, 40);
  --light: rgb(100, 80, 75);
}
div.式神情报-wrapper > div.lantern-wrapper > div.ribbon {
  width: 3px;
  height: 8px;
  background-image: linear-gradient(90deg, var(--sides), var(--center), var(--sides));
  --center: rgb(140, 87, 50);
  --sides: rgb(97, 46, 15);
  position: relative;
  transform: translateX(27px);
}
div.式神情报-wrapper > div.lantern-wrapper > div.ribbon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translateX(-50%);
  width: 5px;
  height: 3px;
  background-image: linear-gradient(var(--sides), var(--center), var(--sides));
  --center: rgb(84, 55, 47);
  --sides: rgb(56, 30, 25);
  box-shadow: inset 0 2px 1px -1px rgb(40, 30, 30);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern {
  width: max-content;
  padding-bottom: 8px;
  padding-top: 5px;
  position: relative;
  transform: translateX(8.5px);
  /* color variables for children at initial state */
  --outer-color-sides: rgb(184, 173, 163);
  --outer-color-center: rgb(123, 118, 112);
  --inner-color-sides: rgb(216, 204, 189);
  --inner-color-center: rgb(236, 232, 216);
  --top-box-shadow: rgb(223, 214, 206);
  --bottom-box-shadow: rgb(171, 155, 137);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern::before, div.lantern::after {
  content: "";
  background-image: linear-gradient(90deg, var(--sides), var(--center), var(--sides));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 0px 2px 0 black;

  --center: rgb(140, 87, 50);
  --sides: rgb(97, 46, 15);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern::before {
  width: 7px;
  height: 2px;
  top: 0;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  box-shadow: inset 0 0px 2px 0 black;
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern::after {
  display: block;
  width: 6px;
  height: 6px;
  bottom: 0;
  clip-path: polygon(20% 0, 80% 0, 65% 100%, 35% 100%);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern:last-of-type::after {
  display: none;
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern > div.lantern-outer-body {
  width: 40px;
  height: 50px;
  background-image: radial-gradient(closest-side, var(--outer-color-center), var(--outer-color-sides));
  border-radius: 15px;
  position: relative;
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern:not(.unavailable) > div.lantern-outer-body:hover {
  cursor: pointer;
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern.focused {
  --outer-color-sides: rgb(255, 160, 91);
  --outer-color-center: rgb(229, 93, 43);
  --inner-color-sides: rgb(255, 218, 161);
  --inner-color-center: rgb(251, 246, 237);
  --top-box-shadow: rgb(249, 225, 189);
  --bottom-box-shadow: rgb(221, 163, 123);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern.unavailable {
  cursor: default;
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern > div.lantern-outer-body::before, div.lantern-outer-body::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 4px;
  background-image: linear-gradient(90deg, var(--color-one), var(--color-two) 40%, var(--color-three) 80%, var(--color-four));
  position: absolute;
  z-index: 1;
  left: 50%;

  --color-one: rgb(73, 50, 38);
  --color-two: rgb(119, 85, 73);
  --color-three: rgb(66, 45, 28);
  --color-four: rgb(56, 38, 30);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern > div.lantern-outer-body::before {
  top: 0;
  transform: translate(-50%, -75%);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern > div.lantern-outer-body::after {
  bottom: 0;
  transform: translate(-50%, +75%);
}
div.式神情报-wrapper > div.lantern-wrapper > div.lantern div.lantern-inner-body {
  /* styling itself */
  width: 70%;
  height: 100%;
  background-image: radial-gradient(closest-side, var(--inner-color-center), var(--inner-color-sides));
  border-radius: 12px;
  box-shadow: inset 0 10px 5px -5px var(--top-box-shadow),
              inset 0 -10px 10px -5px var(--bottom-box-shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* styling its text */
  font-family: var(--main-font-family);
  font-size: 1.25em;
  font-weight: 600;
  writing-mode: vertical-lr;
  text-align: center;
  line-height: 28px;
  user-select: none;
}
